@font-face {
    font-family: 'Mona Sans';
    src:
      url('../../../assets/Mona-Sans.woff') format('woff2 supports variations'),
      url('../../../assets/Mona-Sans.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
  }

:root {
    --gitblue: #0969DA;
    --gitgrey: #57606A;
    --gitborder: #D8DEE4; 

}

* {
    margin: 0;
    padding: 0;
}

.home-page {
    background-color: #ffffff;
    font-family: 'Mona Sans';
    margin-top: 20px;
}

.home-page :first-child {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.home-page :last-child {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.all-cards {
    justify-content: center;
    margin-left: 20%;
    border-top: 0.5px solid var(--gitborder);
    border-left: 1px solid var(--gitborder);
    border-right: 1px solid var(--gitborder);
    width: 50%;
    padding: 20px;
}

.card {
    color: var(--gitgrey);
    padding: 8px;
}

.name-and-visibility {
    display: flex;
}

/* Individual repo elements */

/* Username */

#name {
    color: var(--gitblue);
    margin-right: 1%;
    font-size: 15px;
}

/* Repo visibility */

#visibility {
    border: 1px solid var(--gitborder);
    padding-top: 1%;
    border-radius: 20px;
    font-weight: bold;
    font-size: 0.8rem;
    height: 20%;
}

/* Github repo link */

#link a {
    text-decoration: none;
    color: var(--gitgrey);
    font-size: 15px;
}

/* Created date */

#created {
    display: flex;
    font-size: 15px;
}

#created-on{
    margin-right: 5px;
    margin-left: 5px;
}

/* Number fo forks  */

#fork {
    display: flex;
    font-size: 15px;
}

#fork img {
    height: 20px;
    width: 20px;
    background-color: #ffffff;
    opacity: 50%;
    margin-right: 5px;
}

/* Updated on */

#last-push {
    display: flex;
    font-size: 15px;
}

#last-push #updated {
   margin-right: 5px;
}

/* Bottom row of forks and updated on */

.fork-and-update {
    display: flex;
}

/* Language and percentage */

#language {
    display: flex;
    font-size: 15px;
}

#language h4 {
    display: flex;
    margin-right: 5px;
}

#language p {
    display: flex;
    margin-right: 5px;
}